# Environment variables
# Copy to .env and fill values locally. Do not commit real values.

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DATABASE_URI=
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_SITE_URL=
PAYLOAD_SECRET=
RESEND_API_KEY=
SAM_WHATSAPP_NUMBER=
